<footer class="container-fluid">
<div class="footerinfo">
    <div class="row">
      <div class="goup col-sm-1 col-md-1 text-center">
        <img src="/images/icon_goup.png" />
      </div>
      <div class="col-sm-7 col-md-7 text-center">
        <form class="navbar-form">
          <div class="input-group">
              <input type="text" class="form-control" id="subscribe-input" placeholder="输入Email订阅你喜欢的工作" name="subscribe">
              <div class="input-group-btn">
                <button class="btn btn-default" id="btn-search" type="submit">订阅</button>
              </div>
          </div>
        </form>
      </div>

      <div class="col-sm-3  col-md-3 text-center">
        <a href="http://www.facebook.com"><img src="/images/icon_fb.png" class="snsicon"/></a>
        <a href="http://www.twitter.com"><img src="/images/icon_twitter.png" class="snsicon"/></a>
        <a href="http://www.linkedin.com"><img src="/images/icon_linkedin.png" class="snsicon"/></a>
      </div>
      <div class="col-sm-1  col-md-1 feedback text-center">
        <img src="/images/icon_feedback.png"/>
      </div>
    </div>
  </div>
</footer>
