<div class="jumbotron">
  <h1 class="title">今日招聘，重新定义互联网招聘</h1>
  <p class="slogan">
    [ 天天有推荐，日日有更新，互联网技术、产品、设计、运营、市场 ]
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-danger btn-apply" href="/jobs">我要应聘</a>
  </p>
</div>

<!-- step  -->
<section id="step">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/one.png" alt="" class="img-thumbnail slideanim"/>
            <div class="caption slideanim">
                <h1>创建账号</h1>
                <p>
                  创建账号，方便 <br />
                  管理，投递自己的简历
                </p>
            </div>
        </div>
    </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/two.png" alt="" class="img-thumbnail slideanim"/>
            <div class="caption slideanim">
                <h1>撰写简历</h1>
                <p>
                  简单扼要，突出<br />
                  重点，方便用人单位查阅
                </p>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/images/three.png" alt="" class="img-thumbnail slideanim"/>
            <div class="caption slideanim">
                <h1>发布简历</h1>
                <p>
                  1 键发布，随时 <br />
                  跟踪，查看被浏览记录
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- good job  -->
<section id="goodjob" class="goodjob">
<div class="container-fluid" >
  <div class="row">
      <div class="col-sm-4 col-md-4 text-center">
        <div class="thumbnailicon">
          <img src="/images/icon_new.png" class="img-thumbnail slideanim">
        </div>
      </div>
      <div class="col-sm-8 col-md-8 thumbnailinfo slideanim">
        <h1>好工作，一网打尽</h1>
        <p>
          找工作，上今天招聘 <br />
          好工作，上今日招聘 <br />
          天天有推荐，日日有更新
        </p>
      </div>
  </div>
</div>
</section>

<!-- end good job -->

<!--  easyuse -->
<section id="easyuse" class="easyuse">
  <div class="container-fluid">
    <div class="upper">
        <h1 class="slideanim">易用，好使</h1>
    </div>
    <div class="row features">

      <div class="col-sm-4 col-md-4 shadowcell slideanim">
        <div class="shadowthumbnail">
          <img src="/images/icon_search.png" alt="search" class="img-thumbnail"/>
          <h3>快速搜索</h3>
          <p>
            通过城市，行业，<br />
            薪资快速搜索自己心仪的工作
          </p>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 shadowcell slideanim">
        <div class="shadowthumbnail">
          <img src="/images/icon_message.png" alt="search" class="img-thumbnail"/>
          <h3>用户评论</h3>
          <p>
            通过评论，了解该岗位<br />
            相关信息，比如公司环境，面试
          </p>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 shadowcell slideanim">
        <div class="shadowthumbnail">
          <img src="/images/icon_star.png" alt="search" class="img-thumbnail"/>
          <h3>星级打分</h3>
          <p>
            给岗位评级，通过岗位的星级，<br />
            来判断这家公司的口碑如何
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end easyuse -->

<!-- color life  -->
<section id="colorlife" class="colorlife">
<div class="container-fluid" >
  <div class="row">

      <div class="col-sm-8 col-md-8 thumbnailinfoleft slideanim">
        <h1>开启精彩人生</h1>
      <p>
        订阅你感兴趣的公司，职位<br />
            我们第一时间帮你开启<br />
            新的职业大门
        </p>
      </div>

      <div class="col-sm-4 col-md-4 text-center">
        <div class="thumbnailicon">
          <img src="/images/icon_color_bubble.png" class="img-thumbnail slideanim">
        </div>
      </div>

  </div>
</div>
</section>
<!-- end color life  -->

<!-- apply now  -->
<section id="applynow" class="applynow">
  <div class="bottomapply ">
    <h3 class="slideanim">现在应聘，即可获赠简历秘籍一本</h3>
    <div class="btnApply slideanim">
        <a class="btn btn-lg" href="/jobs" target="_parent">我要应聘</a>
    </div>
  </div>
</section>
<!-- end apply now  -->

<script>
$(window).scroll(
  function(){
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var wintop = $(window).scrollTop();
      if(pos < wintop + 600){
        $(this).addClass("slide");
      }
    });
  }
);
</script>
