<h1> <%= @movie.title %> </h1>

<p>
  <%= simple_format(@movie.description) %>
</p>
<h5>豆瓣评分：<%= simple_format(@movie.douban) %></h5>
<div class="text-center">
  <%= link_to("提交影评","#", :style => "font-size: 30px; text-decoration:")%>
</div>
