<tr>
  <td>#</td>
  <td><%= link_to(job.title, job_path(job)) %></td>
  <td><%= render_job_description(job) %></td>
  <td>
    <% if current_user && current_user == job.user %>
      <%= link_to("Edit", edit_job_path(job), class: "btn btn-sm btn-default") %>
      <%= link_to("Delete", job_path(job), class: "btn btn-sm btn-default", method: :delete, data: {confirm: "Are you sure?"} )%>
    <% end %>
  </td>
</tr>
