<div class="col-md-4 col-md-offset-4">
    <h2>Edit a job</h2>

    <hr>
    <%= render "form" %>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
    

</div>
