<div class="container-fluid">
	<div class="col-md-12">
		<h2 class="text-center">更新一个职位</h2>
		<hr>
		<%= render "form" %>
		<input id="accept" name="accept" type="checkbox" value="1" />
	</div>
</div>