<div class="col-md-12">
  <h2 class="text-center"> Opening Positions </h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
        <td></td>
				<td>Created at</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>
</div>
