<div class="col-md-12">

  <div class="group">
  <h2 class="text-center">  Job Lists </h2>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" aria-labelledby = "dropdownmenuDivider">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                Order
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to("Order by Wage_Lower_Bound", jobs_path(:order => "by_lower_bound")) %>
              </li>
              <li>
                <%= link_to("Order by Wage_Upper_Bound", jobs_path(:order => "by_upper_bound")) %>
              </li>
              <li>
                <%= link_to("Order by Update_Time", jobs_path ) %>
              </li>
            </ul>
          </li>
      </ul>
    </div>
  </div>

  <table class="table table-hover">
    <tr>
      <th> Job title </th>
      <th>Wage_Lower_Bound</th>
      <th>
         Wage_Upper_Bound
        <span class="fa fa-caret-down"></span>
      </th>
      <th> Updated_at </th>
    </tr>

    <tbody>
    <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>

</div>
