<div class="col-md-12">
  <div class="job">

    <% if current_admin %>
      <%= link_to("New Job", new_job_path, class: "btn btn-primary pull-right") %>
    <% end %>

  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Contact</td>
        <td>Creator</td>
        <td>Created Time</td>
      </tr>
    </thead>
    
     <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    
  </table>
</div>
