<div class="col-md-12">
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">order by<span class="caret"></span></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li><%= link_to("Lower Bound DESC", jobs_path(:order => "by_lower_bound")) %></li>
      <li><%= link_to("Upper Bound DESC", jobs_path(:oder => "by_upper_bound")) %></li>
      <li><%= link_to("created At DESC", jobs_path()) %></li>
    </ul>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Job Name</td>
        <td>Wage Lower Bound</td>
        <td>Wage Upper Bound</td>
        <td>Created At</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "job_item", :collection => @jobs, :as => :job%>
    </tbody>
  </table>
</div>
