<div class="col-md-12">
  <div class="job">
    <%= link_to("📎添加招聘信息", new_job_path, class: "btn btn-primary pull-right") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>👤岗位(标题)</td>
        <td>💰薪资下限</td>
        <td>💰薪资上限</td>
        <td>🕛创建时间</td>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
    </tbody>
  </table>
</div>
