<div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" )%>
</div>

<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td>


      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>

    
    </td>

    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
