<div class="container">
  <div class="row">


    <div class="col-md-12">
      <%= link_to image_tag("job_new_mid.jpg", class: "img-rounded img-responsive img-center") %>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">新建匠职</h2>
      <br>
    </div>
      <hr>

      <%= render "form" %>
  </div>
</div>
