<!-- <div class="col-md-4 col-md-offset-4">
    <h1> Add a job </h1>

    <hr>

    <%= render "form" %>
</div> -->

<div class="col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1> Edit a job </h1>
    </div>
    <div class="panel-body">
      <hr>

      <%= render "form" %>
    </div>
  </div>
</div>
