<div class="col-md-12">
  <div class="group">

    <%= link_to("<--BACK", jobs_path)%>
    <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>
</div>
