<div class="col-md-12">
  <h3><%= @job.title %></h3>
  <div class="group">
      <%= link_to("Edit", edit_job_path, class: "btn btn-primary pull-right") %>
  </div><br><br>
  <p><%= @job.description %></p>
</div>
