<h2>职位详情</h2>
<label>职位名称</label>
<p><%= @job.title %></p>	
<label>职位描述</label>
<p><%= simple_format(@job.description) %></p>
<label>最高薪资</label>
<p><%= @job.salary_max %></p>
<label>最低薪资</label>
<p><%= @job.salary_min %></p>