<h1> <%= @job.title %> </h1>

<p>
  <%= simple_format(@job.description) %>

</p>
<div class="text-center">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
<a href="http://www.w3school.com.cn">2</a>


wqwqwq你是大伤
