<div class="col-md-12">
	<h1><%= @job.title  %></h1>
	<hr>
	<P><%= @job.description  %></P>
	<br>

	<P><b>Salary</b>: $<%=@job.wage_lower_bound%>~ $ <%=@job.wage_lower_bound%> </P>
	<% if @job.is_hidden %>
	<p>is_hidden<p>
		
	<% end %>
</div>