<h3> <%= @job.title %></h3>

<% if current_user && !current_user.admin? %>
	<div class="pull-right">
	    <%= link_to("Submit your Resume", new_job_resume_path(@job), :class => "btn btn-default" ) %>
	</div>
<% end %>

<hr>
<p>
  <%= simple_format(@job.description)%>
</p>