<div class="col-md-4 col-md-offset-4">
  <h2 >职位详细要求</h2>
  <div style="margin-top:40px;">
    <label>职位名称:</label>
    <%= @job.title%>
  </div>
  <div style="margin-top:20px;">
    <label>职位要求:</label>
    <%= simple_format(@job.description)%>
  </div>
  <div class="margin-top:20px;">
    <label>薪资上限:</label>
    <%= @job.wage_upper_bound%>
  </div>
  <div class="margin-top:20px;">
    <label>薪资下限:</label>
    <%= @job.wage_upper_bound%>
  </div>
</div>
