<div class="col-md-6 col-centered">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @job.title %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= simple_format(@job.description) %>
      </p>
      <div class="text-center">
        <%= link_to("提交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
      </div>
    </div>
  </div>
</div>
