<div class="col-md-4 col-md-offset-4">
  <h2 >职位详细要求</h2>
  <%= link_to("编辑该职位",edit_job_path(@job),class:"btn btn-primary pull-right")%>
  <div style="margin-top:40px;">
    <label>职位名称:</label>
    <%= @job.title%>
  </div>
  <div style="margin-top:20px;">
    <label>职位要求:</label>
    <%= @job.description%>
  </div>
</div>
