<div class="col-md-12">
  <h2><%= @job.title %></h2>
  <p><%= @job.description %></p>
  <div class="job">
  <!--<%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%> !-->
  <%=link_to("Back", jobs_path)%>
  </div>

</div>
