<div class="col-md-12">

  <p>👤岗位(标题):</p>
  <h2><%= @job.title %></h2>

  <hr>

  <p>🔎详情(描述):</p>
  <h4><%= @job.description %></h4>

  <div class="jobs_back">
    <%= link_to("🔙返回", jobs_path, class: "btn btn-success pull-right")%>
  </div>
  <div class="job_edit">
    <%= link_to("📝编辑", edit_job_path(@job), class: "btn btn-primary pull-right")%>
  </div>

</div>
