<div class="jumbotron">
     <h1 class="title">24k Offer</h1>
     <p class="slogan">通过新的工作希望你能找到更好的未来!
     <br>

     <br>

     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上看看</a></p>
   </div>
   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fc0sa8ryqej303k03kglg.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>厦门市鼓浪屿</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fc0scyi7zwj303k03kwe9.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3>hr@24koffer.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fc0sfsjqiyj303k03kwec.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>0596-2077482</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
