<div class="jumbotron">
  <h1 class="title">24K Offer</h1>
  <p>你的每一份努力，都值得高新回报 </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>
<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <span class="fa fa-map-marker fa-fw fa-5x "></span>
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <span class="fa fa-envelope-o fa-fw fa-5x "></span>
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <span class="fa fa-phone fa-fw fa-5x "></span>
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
