<div class="jumbotron">
  <h1 class="title">18K Offer</h1>
  <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
  <br>
  我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
  <br>
   凭借自己的努力和天份也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">

      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="https://lh3.googleusercontent.com/Xm8w8aVaf-LzW7JnysUVw63A5QQM8socWmL59WK2U0rbsLNIzJeeafxw2gUjD0aFXmg=w300" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="http://androidappsreviewsite.com/wp-content/uploads/2014/10/File-Expert-with-Clouds-android-app-thumbicon.png" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="http://image.coolapk.com/apk_logo/2016/0317/12202_1458203077_4888.png" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-3 ">
        <div class="thumbnail">
          <img src="https://lh6.ggpht.com/tAkg_pxSU1ZkOJo20d4k17s0XPZkGxBMYqkmpkcadCwDdVMQTvf0PNIiblJsNBRwng=w300" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
