


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbsppg8redj30k20dctac.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>The atmosphere in New York is lorem ipsum.</p>
      </div>
    </div>

    <div class="item">
      <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbsppqrtw9j30k00dcq3i.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago - A night we won't forget.</p>
      </div>
    </div>

    <div class="item">
      <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbspq5vxzkj30k00dc0t6.jpg" alt="Los Angeles">
      <div class="carousel-caption">
        <h3>LA</h3>
        <p>Even though the traffic was a mess, we had the best time.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container text-center">
  <h3>New Journey</h3>
  <p><em>New Journey是一个提供高薪工作机会的求职网站</em>
  <br>
 我们希望藉由这个网站，能让你找到且应征上高薪且优质的工作
  <br>
   前行再难也要走完，这里会一直欢迎你!</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>larry</strong></p><br>
       <a href="#demo" data-toggle="collapse">
      <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbspv6xzoaj30ci08wjs7.jpg"
      class="img-circle person" alt="Random Name">
    </a>

    <div id="demo" class="collapse">
      <p>Guitarist and Lead Vocalist</p>
      <p>Loves long walks on the beach</p>
      <p>Member since 1988</p>
    </div>

    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>jacky</strong></p><br>
    <a href="#demo2" data-toggle="collapse">
      <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbspvgslubj30ci08x0tg.jpg"
      class="img-circle person" alt="Random Name">
    </a>
    <div id="demo2" class="collapse">
       <p>Drummer</p>
       <p>Loves drummin'</p>
       <p>Member since 1988</p>
     </div>

    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>sue</strong></p><br>
    <a href="#demo3" data-toggle="collapse">
      <img src="https://ww1.sinaimg.cn/large/006y8lVagw1fbspvqstuqj30ci08wt99.jpg"
       class="img-circle person" alt="Random Name">
     </a>

     <div id="demo3" class="collapse">
      <p>Bass player</p>
      <p>Loves math</p>
      <p>Member since 2005</p>
    </div>

    </div>

  </div>


</div>

<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ww2.sinaimg.cn/large/006y8lVajw1fbss34qy92j307n0533ym.jpg" alt="林荫大道">
      <p><strong>Paris</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn btn-primary">投票</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ww2.sinaimg.cn/large/006y8lVajw1fbss3dciagj307n053dfw.jpg" alt="黄昏森林">
      <p><strong>New York</strong></p>
      <p>Sat. 28 November 2015</p>
      <button class="btn btn-primary">投票</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="https://ww1.sinaimg.cn/large/006y8lVajw1fbss3kqdboj307n053t8p.jpg" alt="晚冬美景">
      <p><strong>San Francisco</strong></p>
      <p>Sun. 29 November 2015</p>
      <button class="btn btn-primary">投票</button>
    </div>
  </div>
</div>

<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>回到顶部 </a></p>
</footer>

</body>
</html>
