 <div class="jumbotron col-md-12">
   <h1 class="title">只需一次投递
     <br />
     其他的工作交给我们</h1>
   <p class="text-center slogan">
     Big Offer 是一家提供20K起薪互联网工作机会的求职网站</p>
   <p class="text-center slogan">
     我们提供专业的咨询服务,让您一路过关斩将拿到Big Offer
   </p>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
 </div>

 <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>深圳市南山区高新科技园</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@bigoffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>0755-6238237</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
