<div class="jumbotron">
  <h1 class="title">出 师 表</h1>
  <p class="slogan">出 师 表 —— 等大公司请你出山的地方，你就是传说中的卧龙！
  <br>
  在这里，工作会找到你，你希望别人三顾三请你去工作吗？这里是你专享出师表。
  <br>
  你有天份，为什么要去求别人给你工作呢？你的才华，是那么的耀眼，以至于它无法被尘世所蒙蔽。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">我是卧龙</a></p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class="img-thumbnail">
          <div class="caption">
            <h3>d2194499406@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class="img-thumbnail">
          <div class="caption">
            <h3>18610477327</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
