<!-- 头图 -->
<div class="col-md-12">
    <div class="row box">
        <div class="box-inner col-md-6 col-md-offset-3">
            <h1 class="title">鼎立木业</h1>
            <p class="slogan">有用之木为材 无用之木为柴
                <br>
                良木难得
                <br>
                该仔细丈量 细加思考
            </p>
            <p class="lead">
                <%= link_to '加入我们', jobs_path, class: 'btn btn-success' %>
            </p>
        </div>
    </div>
</div>

<!-- 地板产品 -->

<div class="mdpftop2">
    <div class="mdwebf">
        <div class="mnpdbT2">明星产品</div>
        <div class="mnpdbf">
            <div class="mnpdpf">
                <div class="mnpdp">
                    <a href="#" style="cursor:hand"><img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff2eszuccbj308o06hdhz.jpg" title="复古系列" width="306" height="231" border="0"></a>
                </div>
                <div class="mnpdTt">
                    <a href="#" style="cursor:hand">傲世系列</a>
                </div>
            </div>
            <div class="mnpdpf">
                <div class="mnpdp">
                    <a href="#" style="cursor:hand"><img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff2et1g2j0j308o06hq5d.jpg" title="现代系列" width="306" height="231" border="0"></a>
                </div>
                <div class="mnpdTt">
                    <a href="#" style="cursor:hand">意象主义</a>
                </div>
            </div>
            <div class="mnpdpf">
                <div class="mnpdp">
                    <a href="#" style="cursor:hand"><img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff2esyezttj308o06h767.jpg" title="强化系列" width="306" height="231" border="0"></a>
                </div>
                <div class="mnpdTt">
                    <a href="#" style="cursor:hand">原生态</a>
                </div>
            </div>
        </div>
        <div class="v30"></div>
        <div class="clear"></div>
    </div>
</div>

<!-- 现代简约 -->
<div class="mdpftopin2">

    <div class="mdflowfPw">
        <%= image_tag 'http://ww3.sinaimg.cn/large/006tNbRwgy1ff2ledyf5ij31kw11vb14.jpg', class: 'img-responsive' %>
    </div>

    <div class="mdflow">
        <div class="mdflowTt">
            <ul>
                <li>参加米兰国际家具展</li>
                <li>
                    <strong>Design concept</strong>
                </li>
            </ul>
        </div>
        <div class="mdflowst">
            <ul>
                <li>城市家具的设计应该具实用性、生态性、经济性与文化艺术性。</li>
                <li>城市家具设计追求的是人与自然的和谐。使现代“城市家具的形式和风格趋于生活化、环境化的同时，更具亲和力。</li>
                <li>一件好的“城市家具”设计作品更应该将艺术、技术、文化和设计巧妙结合，从而最大限度地满足人性需求。</li>
            </ul>
        </div>
    </div>
</div>

<!-- 案列 -->

<div class="mdpftopin">
    <div class="mnbtnauto">
        <div class="mnbtr">
            <span class="brownbT">更多产品展示</span>
            <br>
            以东方传统木工技艺加入西方现代工业技术，发展出有传统文化氛围且富有现代简约风格的产品。
            <br>
            推陈出新，全新的设计理念、无限的多元功能、灵活多变的组合形式、多种多样选择的可能性，使生活的空间变得充满个性、智慧与创新。
        </div>
        <div class="mnbtn">
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff2gm8951rj30xc0mxgqb.jpg" title="一" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">现代系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff2gsr5k3zj30xc0n878j.jpg" title="二" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">简约系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff2gvbszgoj30xc0mbq78.jpg" title="三" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">Boss系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff2gsu9507j30xc0nndlp.jpg" title="四" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">青年系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff2ng0cn1ij30vz0rsti5.jpg" title="五" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">国王系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff2nfzqqfij30xc0m979t.jpg" title="六" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">美式系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff2ng187r4j30xc0kjgp9.jpg" title="七" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">雅致系列</a>
                </div>
            </div>
            <div class="mncsoutf">
                <div class="mncasep">
                    <a href="#"><img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff2ng0uiqoj30xc0m877f.jpg" title="八" width="215" height="160" border="0"></a>
                </div>
                <a href="#"></a>
                <div class="mncaseTt">
                    <a href="#"></a>
                    <a href="#">阳光系列</a>
                </div>
            </div>
        </div>
        <div class="v70"></div>
        <div class="clear"></div>
    </div>
</div>
