<div class="jumbotron">
    <h1 class="title">KK职搜网</h1>
    <p class="title">KK职搜网是一个互联网行业求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>

    <br>
    </p>
    <p>
      <a class="btn btn-lg btn-danger" href="/jobs/">申请职位</a>
      <a class="btn btn-lg btn-danger-admin" href="/admin/jobs/new">发布职位</a>
    </p>

  </div>

  <div>
    <div class="container-fluid">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="/images/rockyjia.png" width="50" height="50" alt="search" class = "img-thhumbnail">
            <div class="caption">客服微信: rockyjia</div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="/images/gmail.png" width="50" height="50" alt="bid" class = "img-thhumbnail">
            <div class="caption">联系我们: jrk1987@gmail.com</div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="/images/phone.png" width="50" height="50"  alt="heart" class = "img-thhumbnail">
            <div class="caption">咨询电话: 151 0112 7812<br>
            </div>
          </div>
        </div>
      </div>
    </div>
