<ul id="menu">
	<li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
	<li data-menuanchor="joblist"><a href="#joblist">JobList</a></li>
	<li data-menuanchor="about"><a href="#about">About</a></li>
</ul>

<div id="dowebok">
	<div class="section">
		<h3>第一屏</h3>
		<p>fullPage.js — 绑定菜单演示</p>
	</div>
	<div class="section">
    <div class="slide"><h3>第二屏的第一屏</h3></div>
    <div class="slide"><h3>第二屏的第二屏</h3></div>
    <div class="slide"><h3>第二屏的第三屏</h3></div>
	</div>
	<div class="section">
		<h3>第三屏</h3>
		<p>绑定的菜单没有默认的样式，你需要自行编写</p>
	</div>
</div>
