  <!--Box-->

 <div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">Light</h1>
        <p class="slogan">Light 是一个在全球各国贫困地区执教的求职网站
          <br>
          我们希望借由这个网站，能让世界各国贫困地区的孩子接受到教育
          <br>
          凭借自己的力量，为世界添一道光亮
        </p>
        <p class="lead">
          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>

    <!--Content-->

   <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">发现自己</h2>
          <p class="lead">2017年，请去关心那些更远的和更大的事情。关心这个宇宙、他人、社会的正义，它们会教会我们谦卑，让我们得以放下自己。
            在这个过程中，你会感到自己的生活是如此的小，而你作为个体的痛苦也就会随之显得渺小、变得更加可以承受了。——KnowYourself
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">教育者</h2>
          <p class="lead">无论你们未来要做什么样的工作,既然从这教育学院的大门走出去,希望你们能关注未来。不是你们个人的未来,是这个国家乃至全人类的未来。
            因为你们将成为能够影响别人命运的人,你们必须有精益求精的工匠精神和关注他人,关注成长,关注公平的仁义之心。——Dr. Stone
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">旅行家</h2>
          <p class="lead">生活就是寻找自己的过程，在不知道要去哪里，不知道还有多远时，只管跑就是了，未来是怎样，交给未来的自己回答，我们都不用为了天亮去跑，跑下去，天自己会亮，
            让教育和旅行一起在路上，做最酷的老师。
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

 <!--Information-->

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>武汉武昌光谷广场</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>027-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
