<!DOCTYPE html>
<html lang="en">
  <head>

      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

  </head>

   <!--
          If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
          Slide effect: slide, fade
          Text Align: slide_style_center, slide_style_left, slide_style_right
          Add Text Animation: https://daneden.github.io/animate.css/
          -->
  <body>
    <div class="row">

        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/04/25/58ff4f4e1e0e9.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight"> Light </h1>
                                <p data-animation="animated fadeInLeft">是一个在全球各国贫困地区执教的求职网站
                                  <br>
                                  我们希望借由这个网站，能让世界各国贫困地区的孩子接受到教育
                                  <br>
                                  凭借自己的力量，为世界添一道光亮</p>
                                    <%= link_to '马上应征', jobs_path, class: 'btn btn-primary' %>
                                <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a> -->
                                <!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/04/25/58ff50517cdbc.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">教育者</h1>
                        <p data-animation="animated lightSpeedIn">2017年，请去关心那些更远的和更大的事情。关心这个宇宙、他人、社会的正义，它们会教会我们谦卑，让我们得以放下自己。
                          在这个过程中，你会感到自己的生活是如此的小，而你作为个体的痛苦也就会随之显得渺小、变得更加可以承受了。——KnowYourself</p>
                          <%= link_to '马上应征', jobs_path, class: 'btn btn-primary' %>
                        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a> -->
                        <!-- <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a> -->
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://ooo.0o0.ooo/2017/04/25/58ff4fa905fbd.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">旅行家</h1>
                        <p data-animation="animated fadeInRight">生活就是寻找自己的过程<br>在不知道要去哪里，不知道还有多远时，只管跑就是了<br>做最酷的老师,让教育和旅行一起在路上</p>
                        <%= link_to '马上应征', jobs_path, class: 'btn btn-primary' %>
                        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a> -->
                        <!-- <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a> -->
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->

    <!-- Script to Activate the Carousel -->
        <script src="js/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

            <!-- Script to Activate the Carousel -->
            <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
            $('#bootstrap-touch-slider').bsTouchSlider();
            </script>

           <script>
            $(document).ready(function () {
            $('.material-button-toggle').click(function () {
                $(this).toggleClass('open');
                $('.option').toggleClass('scale-on');
            });
           });
          </script>
      </div>
  </body>
</html>
