<div class="container-fluid">
<div class="jumbotron">

    <!-- <div class="row"> -->
      <div class="col-sm-6 col-sm-offset-3 text-center  ">
        <h1 class="title "><i>一起游戏也是一种学习态度</i></h1>
          <p class="lead">
            <a class="btn btn-lg btn-danger" href="/jobs">我要加</a>
          </p>
      </div>
    <!-- </div> -->
  </div>
</div>


  <section id="company">
    <div class = "container">
      <p class="slogan-A">丰富多彩的户外体验，培养孩子的独立精神</p>
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff6n0k8iblj308c08c77f.jpg" alt="search" class = "img-circle">
            <div class="caption">
              <h3>游泳体验</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff6mzlqltjj308c08ctd6.jpg" alt="bid" class = "img-circle">
            <div class="caption">
              <h3>周末野餐</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff6mzrc281j308c08ctcg.jpg" alt="heart" class = "img-circle">
            <div class="caption">
              <h3>欢乐滑雪</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="middle">
    <div class="title-A">怎么玩?</div>
    <br>
   您可以通过这个平台，为您的孩子找到符合自己的共享活动体验，在快乐的游戏中学习成长
   <p>
   如果您是某一领域内的专家，您也可以组织起好玩好学的活动，让别人来参与。
  </p>
    </br>
  </div>
