<div class="jumbotron2">
    <h1 class="title">遇见更多的机会 找到更好的人才</h1>
    <p class="title">KK职搜网是一个互联网行业求职招聘网站。<br/>
        在这里，能找您到高薪优质的工作,也能让企业找到更多更好的人才。
    </p>
    <p class="title">
        <a class="btn btn-lg btn-danger" href="/jobs/">立即加入</a>
        <a class="btn btn-lg btn-danger-admin" href="/admin/jobs/new">发布职位</a>
    </p>
</div>
<div class="jumbotron1">
    <div class="col-sm-4 ">
        <div class="thumbnail">
            <img src="/images/rockyjia.png" width="50" height="50" alt="search" class = "img-thhumbnail">
            <div class="caption">客服微信: rockyjia</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/images/gmail.png" width="50" height="50" alt="bid" class = "img-thhumbnail">
            <div class="caption">联系我们: jrk1987#gmail.com</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/images/phone.png" width="50" height="50"  alt="heart" class = "img-thhumbnail">
            <div class="caption">咨询电话: 151 XXXX 7812<br>
            </div>
        </div>
    </div>
</div>
