<div class="jumbotron">
  <h1 class="title"> 18K Offer </h1>
  <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
  <br>
  凭借自己的努力和天份也会变成Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006y8lVajw1fc0mn040fcj303k03k3yb.jpg" alt="search" class="img-thhumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ww2.sinaimg.cn/large/006y8lVagy1fc0mpw8zp1j303k03k741.jpg" alt="bid" class="img-thhumbnail">
        <div class="caption">
          <h3>info@18Koffer.com</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fc0mr86oerj303k03kdfl.jpg" alt="heart" class="img-thhumbnail">
        <div class="caption">
          <h3>010-12344321</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
