<div class="jumbotron">
  <h1 class="title">合作bar</h1>
  <p class="slogan">合 作 bar —— 这是你我一起改变世界的地方!
  <br>
  我们基于共同的梦想站在这里，没有你，我改变不了世界!
  <br>
  你的team都在这里等着你!
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">deal</a></p>

</div>
