<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>我们效率更高</h1>
            <h3>全球最快的工作服务系统，带给你不一样的感受</h3>
        </hgroup>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>我们选择更多</h1>
            <h3>全球两百多家合作机构，提供你更多选择</h3>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>我们速度更快</h1>
            <h3>一切都在网络进行，只需鼠标轻轻一点</h3>
        </hgroup>

      </div>
    </div>
  </div>
</div>
    <section id="company">
      <div class = "container-nil">
        <div class="row">
          <div class="col-sm-6 col-md-3 ">
            <div class="thumbnail">
              <a href = "/qianduan/jobs" class = "link ">
              <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fbzkfthyu8j30e80e8dh8.jpg" alt="search" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">前端工程师</h3>
              </div>
            </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href = "/houduan/jobs" class = "link ">
              <img src="https://ww4.sinaimg.cn/large/006y8lVajw1fbzkgi8tedj30e80e8dh1.jpg" alt="bid" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">后端工程师</h3>
              </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href = "/quanzhan/jobs" class = "link ">
              <img src="https://ww1.sinaimg.cn/large/006y8lVajw1fbzkhg9st1j30e80e8wfj.jpg" alt="heart" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">全栈工程师</h3>
              </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href = "/yunxing/jobs" class = "link ">
              <img src="https://ww3.sinaimg.cn/large/006tNbRwjw1fc1oekdnnfj30e80e8wfs.jpg" alt="bid" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">运行维护</h3>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="company">
      <div class = "container-nil">
        <div class="row">
          <div class="col-sm-6 col-md-3 ">
            <div class="thumbnail" >
                <a href = "/chanpin/jobs" class = "link ">
              <img src="https://ww2.sinaimg.cn/large/006y8lVagy1fbzkislldcj30e80e8t8p.jpg" alt="search" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">产品经理</h3>
              </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="thumbnail">
                <a href = "/mishu/jobs" class = "link ">
              <img src="https://ww1.sinaimg.cn/large/006y8lVagy1fbzkjbk3z9j30e80e8gln.jpg" alt="bid" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">秘书</h3>
              </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="thumbnail">
                <a href = "/shouhou/jobs" class = "link ">
              <img src="https://ww1.sinaimg.cn/large/006y8lVagy1fbzkkvq3hgj30e80e8weh.jpg" alt="heart" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">售后专员</h3>
              </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 ">
            <div class="thumbnail">
                <a href = "/ceshi/jobs" class = "link ">
              <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fc1ogshchjj30e80e8dfs.jpg" alt="bid" class = "img-thhumbnail">
              <div class="caption">
                <h3 class="ziti">测试专员</h3>
              </div>
              </a>
            </div>
          </div
        </div>
      </div>
    </section>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container-qiye">
  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2 class="ziti">明星雇主</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://www.getjoys.net/sharingSub/ej1309329211396268312903.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>生产伟大的、一流的产品，以某种方式真正改变世界，丰富人们的生活，加入我们吧</p>
                  <small>Timothy Donald Cook</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://a.abcnews.com/images/Technology/gty_larry_page_google_tk_130514_wmain.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>用科技改变生活，永不作恶。</p>
                  <small>Larry Page</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://www.aiyingli.com/wp-content/uploads/2014/12/b661a0774e827966e0f94bfaacfbb339.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>通过干干净净的赚钱，让人相信干干净净的赚钱是可能的，即使是在中国。</p>
                  <small>罗永浩</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>



<section id="promos" class="promos row" data-analytics-region="promos">
<ul>
<li id="promo-position-0" class="promo-position promo-tile-position-0 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-accessories"
  href="http://www.smartisan.com/cn/#/"
  data-promo-id="accessories"
  data-analytics-click="prop3:accessories,prefix:p"
  data-analytics-title="promo-accessories">
  <span class="promo-label">The pefect match. Accessories made by Apple.</span>
</a>
</li>
<li id="promo-position-1" class="promo-position promo-tile-position-1 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-ipad-pro"
  href="https://www.google.com/"
  data-promo-id="ipad-pro"
  data-analytics-click="prop3:ipad-pro,prefix:p"
  data-analytics-title="promo-ipad-pro">
  <span class="promo-label">iPad Pro. Super. Computer.</span>
</a>
</li>
<li id="promo-position-2" class="promo-position promo-tile-position-2 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-airpods"
  href="http://www.apple.com/"
  data-promo-id="airpods"
  data-analytics-click="prop3:airpods,prefix:p"
  data-analytics-title="promo-airpods">
  <span class="promo-label">Airpods. Watch the film.</span>
</a>
</li>
<li id="promo-position-2" class="promo-position promo-tile-position-3 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-apple-tv"
  href="https://www.yahoo.com/"
  data-promo-id="apple-tv"
  data-analytics-click="prop3:apple-tv,prefix:p"
  data-analytics-title="promo-apple-tv">
  <span class="promo-label">Apple TV. The new TV app. One place for everything you want to watch.</span>
</a>
</li>
</ul>
</section>

<section id="promos" class="promos row" data-analytics-region="promos">
<ul>
<li id="promo-position-0" class="promo-position promo-tile-position-0 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-1"
  href="http://www.smartisan.com/cn/#/"
  data-promo-id="accessories"
  data-analytics-click="prop3:accessories,prefix:p"
  data-analytics-title="promo-accessories">
  <span class="promo-label">The pefect match. Accessories made by Apple.</span>
</a>
</li>
<li id="promo-position-1" class="promo-position promo-tile-position-1 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-2"
  href="https://www.google.com/"
  data-promo-id="ipad-pro"
  data-analytics-click="prop3:ipad-pro,prefix:p"
  data-analytics-title="promo-ipad-pro">
  <span class="promo-label">iPad Pro. Super. Computer.</span>
</a>
</li>
<li id="promo-position-2" class="promo-position promo-tile-position-2 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-3"
  href="http://www.apple.com/"
  data-promo-id="airpods"
  data-analytics-click="prop3:airpods,prefix:p"
  data-analytics-title="promo-airpods">
  <span class="promo-label">Airpods. Watch the film.</span>
</a>
</li>
<li id="promo-position-2" class="promo-position promo-tile-position-3 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-4"
  href="https://www.yahoo.com/"
  data-promo-id="apple-tv"
  data-analytics-click="prop3:apple-tv,prefix:p"
  data-analytics-title="promo-apple-tv">
  <span class="promo-label">Apple TV. The new TV app. One place for everything you want to watch.</span>
</a>
</li>
</ul>
</section>


<section id="promos" class="promos row" data-analytics-region="promos">
<ul>
<li id="promo-position-0" class="promo-position promo-tile-position-0 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-5"
  href="http://www.smartisan.com/cn/#/"
  data-promo-id="accessories"
  data-analytics-click="prop3:accessories,prefix:p"
  data-analytics-title="promo-accessories">
  <span class="promo-label">The pefect match. Accessories made by Apple.</span>
</a>
</li>
<li id="promo-position-1" class="promo-position promo-tile-position-1 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-6"
  href="https://www.google.com/"
  data-promo-id="ipad-pro"
  data-analytics-click="prop3:ipad-pro,prefix:p"
  data-analytics-title="promo-ipad-pro">
  <span class="promo-label">iPad Pro. Super. Computer.</span>
</a>
</li>
<li id="promo-position-2" class="promo-position promo-tile-position-2 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-7"
  href="http://www.apple.com/"
  data-promo-id="airpods"
  data-analytics-click="prop3:airpods,prefix:p"
  data-analytics-title="promo-airpods">
  <span class="promo-label">Airpods. Watch the film.</span>
</a>
</li>
<li id="promo-position-2" class="promo-position promo-tile-position-3 column-1 large-3 medium-6 small-12" data-promo-type="show-hide">
<a
  class="promo promo-8"
  href="https://www.yahoo.com/"
  data-promo-id="apple-tv"
  data-analytics-click="prop3:apple-tv,prefix:p"
  data-analytics-title="promo-apple-tv">
  <span class="promo-label">Apple TV. The new TV app. One place for everything you want to watch.</span>
</a>
</li>
</ul>
</section>
