
<!DOCTYPE html>

<html lang='zh'>

<head>
  <title>xxx</title>

</head>
<body class='body '>
  <div class='container-fluid'>
<br /><br />
    <div class='row bgimg'>
      <br /><br />
      <div class='col-md-6'>
        <h2>联接你的当下与未来</h2>
        <p>职业,是个体能力的展示面</p><p class='lead'>在这里，你将有机会展现不同的自己</p>
        <button type="button" class='btn btn-lg btn-default'>搜索职位</button>
        <button type="button" class='btn btn-lg btn-primary'>马上加入</button>
        <br /><br /><br />
      </div>
    </div>

    <br />  <br />  <br />

    <div class='row features text-center bgico'>
      <div class='col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0'>
        <i class='glyphicon glyphicon-briefcase'></i>
        <h3>abc</h3><p>wkejf;wke</p>
      </div>
      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-send'></i>
          <h3>cde</h3><p>wkejf;wke</p>
      </div>
      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-earphone'></i>
        <h3>efg</h3><p>wkejf;wke</p>
      </div>
    </div>




  </div>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='js/bootstrap.js'></script>
</body>
</html>
