<div class="jumbotron">
    <h1 class="title">IT Offer</h1>
    <p class="slogan">IT Offer 是一个提供 IT 类工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fbxhw4g57aj303k03kdfm.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>上海浦东999</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fbxhzp4qd0j303k03kt8h.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@it_offer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fbxi3l992mj303k03kgld.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>021-66778899</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
