   <div class="jumbotron">
     <h1 class="title">全栈营火箭班</h1>
     <p class="slogan">"全栈营火箭班" 是专门为优秀学员开设的进阶课程
     <br>
     我们希望藉由这个火箭班，能让大家极速升级
     <br>
     这里将汇聚一群以 debug 为乐的战友
     <br>
     相信我，你并不孤独
     </p>
     <br>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>


   <!-- Container (Portfolio Section) -->
    <div class="container-fluid text-center bg-grey">
      <br>
      <h2>营队风采</h2>
     <h4>For freedom & ideal</h4>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
           <img src="images/fullstack_wechat.jpeg" alt="Paris" width="400" height="300">
           <br>
           <p><strong>Graduate</strong></p>
           <p>Yes, everybody can learn how to code</p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="thumbnail">
           <img src="images/fullstack_rubyconf2.JPG" alt="New York" width="400" height="300">
           <br>
           <p><strong>Travel</strong></p>
           <p>What an awesome trip</p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="thumbnail">
           <img src="images/fullstack_rubyconf.JPG" alt="San Francisco" width="400" height="300">
           <br>
           <p><strong>RubyConf China</strong></p>
           <p>We were summoned to RCC</p>
         </div>
       </div>
     </div>
     <br>
  </div>




     <br>
     <br>
     <br>


   <div class="container-fluid text-center">
     <h2>SERVICES</h2>
     <h4>What we offer</h4>
     <br>
     <br>
     <br>
     <div class="row">
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-off"></span>
         <h4>一键开启</h4>
         <p>One small step for a big step..</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-heart"></span>
         <h4>团结友爱</h4>
         <p>助人为乐是我们快速成长的秘技</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-lock"></span>
         <h4>工作无忧</h4>
         <p>心仪的工作再也不用想象</p>
       </div>
       </div>
       <br><br>
     <div class="row">
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-leaf"></span>
         <h4>认证标志</h4>
         <p>我们最可爱的助教团队</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-certificate"></span>
         <h4>不论出身</h4>
         <p>不管你是工人、农民还是学生</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-wrench"></span>
         <h4>专业高效</h4>
         <p>Lorem ipsum dolor sit amet..</p>
       </div>
     </div>
   </div>




   <br>
   <br>
   <br>





   <div id="myCarousel" class="carousel slide text-center bg-grey" data-ride="carousel">
     <!-- Indicators -->
     <br>
     <h2>What our customers say</h2>
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
       <div class="item active">
       <h4>"我们以后只招全栈营的developer!"<br><span style="font-style:normal;">马云-阿里妈妈创始人</span></h4>
       </div>
       <div class="item">
         <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
       </div>
       <div class="item">
         <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
       </div>
     </div>

     <!-- Left and right controls -->
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>




   <!-- <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx3xxcbe7j303k03k3yc.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>北京朝阳建外SOHO</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbxasokn2rj303k03k0sl.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3> fullstack@xinshengdaxue.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx9gxaloyj303k03k3yc.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>010-12344321</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section> -->
