
<!-- 头图 -->
<div class="jumbotron">
    <h1 class="title">鼎立木业</h1>
    <p class="slogan">有用之木为材 无用之木为柴
        <br>
        良木难得
        <br>
        该仔细丈量 细加思考
    </p>
    <p class="lead">
        <a class="btn btn-lg btn-success" href="/jobs">加入我们</a>
    </p>
</div>

<!-- 图标 -->
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
