<div class="jumbotron">
  <div class="po">
    <h1 class="title">Jobs DB</h1>
    <h2 class="slogan">To find your right employer
    </h2>
    <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">Get Started</a></p>
  </div>
</div>

<section id="company" class="information-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="<%= image_url 'location.png' %>" alt="search" class="img-thhumbnail">
          <div class="caption">
            <p>SIP, Suzhou, China</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="<%= image_url 'letter.png' %>" alt="bid" class="img-thhumbnail">
          <div class="caption">
            <p>sales@jobsDB.com</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="<%= image_url 'phone.png' %>" alt="heart" class="img-thhumbnail">
          <div class="caption">
            <p>86-512-88889999</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
