<div class="jumbotron">
  <h1 class="title">18K Offer</h1>
  <p class="slogon">18K Offer是一个提供18K薪水工作机会的求职网站
  <br>
  我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作
  <br>
    凭借自己的努力和天分也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fc7iq06owxj303k03k744.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>上海陆家嘴金融中心</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006y8lVajw1fc7iwkfkt9j303k03kt8l.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006y8lVajw1fc7iyf4ba3j303k03kmx1.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
