   <div class="jumbotron">
     <h1 class="title">全栈营火箭班</h1>
     <p class="slogan">"全栈营火箭班" 是专门为优秀学员开设的进阶课程
     <br>
     我们希望藉由这个火箭班，能让大家极速升级
     <br>
     这里将汇聚一群以 debug 为乐的战友
     <br>
     相信我，你并不孤独
     </p>
     <br>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>






   <div class="container">
     <h2>营队风采</h2>
     <p>The .thumbnail class can be used to display an image gallery.</p>
     <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
     <p>Click on the images to enlarge them.</p>
     <div class="row">
       <div class="col-md-4">
         <div class="thumbnail">
           <a href="/w3images/lights.jpg" target="_blank">
             <img src="images/fullstack_wechat.jpeg" alt="Lights" style="width:100%">
             <!-- 搞这么麻烦还不如直接自定义贴几张图！ -->
             <div class="caption">
               <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
             </div>
           </a>
         </div>
       </div>
       <div class="col-md-4">
         <div class="thumbnail">
           <a href="/w3images/nature.jpg" target="_blank">
             <img src="images/fullstack_rubyconf2.JPG" alt="Nature" style="width:100%">
             <div class="caption">
               <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
             </div>
           </a>
         </div>
       </div>
       <div class="col-md-4">
         <div class="thumbnail">
           <a href="/w3images/fjords.jpg" target="_blank">
             <img src="images/fullstack_rubyconf.JPG" alt="Fjords" style="width:100%">
             <div class="caption">
               <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
             </div>
           </a>
         </div>
       </div>
     </div>
   </div>

   </body>
   </html>









   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx3xxcbe7j303k03k3yc.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>北京朝阳建外SOHO</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbxasokn2rj303k03k0sl.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3> fullstack@xinshengdaxue.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx9gxaloyj303k03k3yc.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>010-12344321</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
