<!-- <div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">18K Offer</h1>
      <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
        <br>
        我们希望借由这个网站，能让大家找到且应征上高薪且优质的工作。
        <br>
        凭借自己的努力和天份也会变 Winner
      </p>
      <p class="lead">
        <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div> -->


</div>
  <div class="jumbotron">
<div class="container-fluid">
    <h1 class="title">最近“饭”</h1>
    <p class="slogan"><strong>一个想好Slogan也用不了几天的"新欢"分享网站
    </strong><br>

    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">求带</a></p>
  </div>
</div>

  <div class="content-section-a">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">最近饭万青</br>Rock Home Town，you tree new bee！</h2>
          <p class="lead"><a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5MjAzODU2MA==&mid=2652780725&idx=1&sn=82f4f9239a5aebbc0763fcbfcd1ce773&chksm=bd46f37a8a317a6c927fda648bdda176ad76ea66fc4077d4f582383cf1359276796f5f83efdb&mpshare=1&scene=23&srcid=0428tjtuHwLjjCyG0eptNPSD%23rd">
            来自菜头叔的魔幻问答</a><br/>
            石家庄，一个十七线省会城市，埋伏在北京周围，长期cosplay轰炸后的现场。万青把摇滚之乡的荣耀带回了石家庄，Rock Home Town，you tree new bee呢！</br>
            PS：歌很好听，但首页展示我还不会写
              </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">最近饭咪蒙</br>wuli小黄文,助理还招嘛？</h2>
          <p class="lead">然而背叛菜头叔的羞耻感看来只能无脑打赏喽</br>
            <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5MTI0NjQ0MA==&mid=2655812172&idx=1&sn=d1c62d0cef852f4e6a3a8404c63217bd&scene=1&srcid=0708zQVzMX4zKUtzv8tcoFGF#rd">
              有趣，才是一辈子的春药！</a>——咪蒙</br>
            <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5MjAzODU2MA==&mid=2652779865&idx=1&sn=ed46988a513f39a2c275bb515bdeea98&scene=1&srcid=070800sOHgdOmKvJBca8KNIw#rd">
              有趣，是一辈子最后的春药</a>——槽边往事</br>
              来呀来呀，反正药不能停就是喽</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">最近饭前端大神<br>长期求抱大腿，会喊666</h2>
          <p class="lead">
            一入前端深似海<br>
            改个首页都艰难<br>
            直男只爱敲后端<br>
            一张头图全弄完<br>
            我能回去安静的写后端嘛，Rails101我还能打十遍。。。<br>

        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs/new">发布你的最近饭</a></p>
  </div>






  <!-- <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
