<div class="jumbotron">
   <div class="container">
     <style>
       h1.title {
         color:  #a6db43;
         }
        </style>
       <h1 class="title">HEART DESIGN </h1>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>
 </div>


<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fbw8m2wguqj301s01s0sh.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
           <h3><small>上海工业设计园区</small></h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fbw8mk7y3lj301s01s0me.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3><small>Aisheji@gmail.com</small></h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fbw8e6v8u2j301s01s0bp.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3><small>020—-18066666</small></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
