<div class="jumbotron">
  <h1 class="title">地表最强工作网</h1>
  <p class="slogan">
  我们这里提供的工作，上下班不用打卡，工资没有上限，
  <br>
  没有年终奖和季度奖，因为公司会在第一时间把你应得的报酬给到你。
  <br>
  我们还免费提供三餐，咖啡，洗衣，休息室，健身房，欢迎你7*24住在公司。
  <br>
  我们需要你的是：<i><b>Enjoying, Fighting, Dream, Creativety and Cooperation!</b></i>
  </p>
  <p class="lead"><a class="btn btn-lg" href="/jobs"><button class="bt1"><b>Launch</b></button></a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006y8lVajw1fc7v1uyfxlj303k03k745.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>上海陆家嘴金融中心</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006y8lVajw1fc7v58dkg0j303k03kjr9.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>hr@bestjob.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006y8lVajw1fc7v6xwd79j303k03kwee.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>020-68808888</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
