<div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <!-- Wrapper for slides -->


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/111.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>三 &nbsp;  国</h3>
        <p>东汉末年，三国鼎立。英雄辈出，谁主沉浮</p>
        <div class="wrapper">
          <a href="/jobs" class="button">选择阵营</a>
        </div>
      </div>
    </div>
  </div>






<div class="container text-center">
  <h3>三国乱世</h3>
     <p><em>成王败寇,史诗般的三国世界已经为你打开</em></p>
  <p>选择喜欢的阵营驰腾沙场,建功立业,书写属于自己的三国历史！</p>
  <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><font size="5" face="arial" color="#1A68EF">魏</font></p>
        <a href="#demo" data-toggle="collapse">
          <img src="images/魏国.jpg" class="img-circle person" alt="Random Name">
        </a>

          <p> 东汉末年，地方豪强势力迅速增强，各地豪强纷纷起兵割据自立，曹操势力渐强</p>
          <p> 建安五年，袁绍与曹操在官渡展开决战，曹操大败袁绍，成为北方最强的军事集团</p>
          <p>建安十三年，曹大军在赤壁会战。曹操大败，从此，曹、孙、刘三大势力成鼎足之势。</p>

      </div>
      <div class="col-sm-4">
        <p class="text-center"><font size="5" face="arial" color="#28AB30">蜀</font></p>
        <a href="#demo2" data-toggle="collapse">
          <img src="images/蜀国.jpg" class="img-circle person" alt="Random Name">
        </a>

          <p>东汉末年，朝政日益腐败，而后爆发黄巾起义，刘备在镇压起义中因战功步入仕途</p>
          <p>不久，天下局势逐渐转变成诸侯混战，刘备在混战中辗转奔波，于赤壁之战后收复荆州各地，</p>
          <p>而后进取西川、攻下汉中，最终建立蜀汉政权。</p>

      </div>
      <div class="col-sm-4">
        <p class="text-center"><font size="5" face="arial" color="#E7571F">吴</font></p>
        <a href="#demo3" data-toggle="collapse">
          <img src="images/吴国.jpg" class="img-circle person" alt="Random Name">
        </a>

          <p>魏黄初年间，孙权名义上依附于曹魏，并受封吴王。</p>
          <p>黄龙元年5月23日，孙权在武昌称帝，孙吴正式建国。</p>

      </div>
    </div>
</div> -->


 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">

         <div class="clearfix"></div>
         <h2 class="section-heading">草船借箭</h2>
         <p class="lead">诸葛亮足智多谋，但你也可以。</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag '草船借箭.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">桃园结义</h2>
         <p class="lead">英雄豪杰桃园三结义，选择适合你的阵营，在这里结识各路英雄。</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag '桃园结义.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">三英战吕布</h2>
         <p class="lead">你也可以和人组队，一起战胜强大的敌人。</a></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag '三英战吕布.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>


  
