   <div class="jumbotron">
     <h1 class="title">全栈营火箭班 🚀</h1>
     <p class="slogan">"全栈营火箭班" 是春节期间专门为后进学员开设的一趟班机
     <br>
     我们希望藉由这架火箭班，能让所有人赶上进度
     <br>
     这里有一群以帮大家 debug 为乐的助教
     <br>
     相信我，你并不孤独
     </p>
     <br>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>


   <!-- Container (Portfolio Section) -->
    <div class="container-fluid text-center bg-grey">
      <br>

      <h2>团队风采</h2>
     <h4>全栈一期&全栈二期</h4>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
           <img src="images/fullstack_wechat.jpeg" alt="Paris" width="400" height="300">
           <br>
           <p><strong>Graduate</strong></p>
           <p>Yes, everybody can learn how to code</p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="thumbnail">
           <img src="images/fullstack_rubyconf2.JPG" alt="New York" width="400" height="300">
           <br>
           <p><strong>Travel</strong></p>
           <p>What an awesome trip</p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="thumbnail">
           <img src="images/fullstack_rubyconf.JPG" alt="San Francisco" width="400" height="300">
           <br>
           <p><strong>RubyConf China</strong></p>
           <p>We were summoned to RCC</p>
         </div>
       </div>
     </div>
     <br>
  </div>




     <br>
     <br>



   <div class="container-fluid text-center">
     <h2>SERVICES</h2>
     <h4>What we offer</h4>
     <br>
     <br>

     <div class="row">
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-off"></span>
         <h4>一键启动</h4>
         <p>拖延症在这里不再是不治之症</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-heart"></span>
         <h4>教学相长</h4>
         <p>我们知道教永远是最好的学</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-film"></span>
         <h4>实作录像</h4>
         <p>手把手带领让大家轻松避坑</p>
       </div>
       </div>
       <br><br>
     <div class="row">
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-lock"></span>
         <h4>工作无忧</h4>
         <p>心仪的工作再也不仅仅是想象</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-leaf"></span>
         <h4>认证标志</h4>
         <p>优秀毕业学员可成为认证助教</p>
       </div>
       <div class="col-sm-4">
         <span class="logo-small glyphicon glyphicon-gift"></span>
         <h4>意外惊喜</h4>
         <p>分享ORID即可获得神秘礼物</p>
       </div>
     </div>
   </div>




   <br>
   <br>
   <br>





   <div id="myCarousel" class="carousel slide text-center bg-grey" data-ride="carousel">
     <!-- Indicators -->
     <br>
     
     <h2>助教寄语</h2>
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
       <div class="item active">
       <h4>"趕快寫作業、參加魔改賽、贏得好禮品、雞年行大運！"<br><br><span style="font-style:normal;">🐣 YY 老師</span></h4>
       <br>
       <br>
       </div>
       <div class="item">
         <h4>"英语+编程=自由，我们正在通往自由的路上"<br><br><span style="font-style:normal;">🎁 潘秀斌助教</span></h4>
         <br>
         <br>
       </div>
       <div class="item">
         <h4>"不要去管别人的学习进度，焦点回到自己身上，找到自己的学习节奏和特点，保证每天都有进步，你会穿过任何障碍。"<br><br><span style="font-style:normal;">☘️ 陈坤明助教</span></h4>
         <br>
         <br>
       </div>
     </div>

     <!-- Left and right controls -->
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>




   <!-- <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx3xxcbe7j303k03k3yc.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>北京朝阳建外SOHO</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbxasokn2rj303k03k0sl.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3> fullstack@xinshengdaxue.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fbx9gxaloyj303k03k3yc.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>010-12344321</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section> -->
