  <div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <!-- Wrapper for slides -->


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/111.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>三 &nbsp;  国</h3>
        <p>东汉末年，三国鼎立。英雄辈出，谁主沉浮</p>
        <div class="wrapper">
          <a href="/jobs" class="button">选择阵营</a>
        </div>
      </div>
    </div>
  </div>






<div class="container text-center">
  <h3>THE BAND</h3>
     <p><em>We love music!</em></p>
  <p>We have created a fictional band website. Lorem ipsum..</p>
  <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Name</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="images/456.jpg" class="img-circle person" alt="Random Name">
        </a>
        <div id="demo" class="collapse">
          <p>Guitarist and Lead Vocalist</p>
          <p>Loves long walks on the beach</p>
          <p>Member since 1988</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Name</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="images/654.jpg" class="img-circle person" alt="Random Name">
        </a>
        <div id="demo2" class="collapse">
          <p>Drummer</p>
          <p>Loves drummin'</p>
          <p>Member since 1988</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Name</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="images/465.jpg" class="img-circle person" alt="Random Name">
        </a>
        <div id="demo3" class="collapse">
          <p>Bass player</p>
          <p>Loves math</p>
          <p>Member since 2005</p>
        </div>
      </div>
    </div>
</div> -->





<!--
<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">

          <div class="item" style="background-image: url(&quot;https://ooo.0o0.ooo/2017/04/25/58feb9e83a542.jpg&quot;); height: 666px;">
            <div class="caption">
              <h1 class="animated fadeInLeftBig">淡定的相信一个残缺的世界可以至少容纳下一个残缺的人
                <span>
                  <br>
                  <s>「完美主义」</s>
                </span>
              </h1>
              <p class="animated fadeInRightBig">Calmly believe that a incomplete world can accommodate at least one incomplete person.</p>
              <a data-scroll="" class="btn btn-start animated fadeInUpBig" href="#services">了解更多</a>
            </div>
          </div>


        <a class="left-control" href="#home-slider" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right-control" href="#home-slider" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>

        <a id="tohash" href="#services">
          <i class="fa fa-angle-down"></i>
        </a>

      </div> -->




      <section id="services">
     <div class="container">
       <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
         <div class="row">
           <div class="text-center col-sm-8 col-sm-offset-2">
             <h2>我们的愿景</h2>
             <p>
               OUTPOST立志成为中国最具践行力的概念打磨团队，拥有及其清晰且必要的概念与方法论。
               <br>
               通过刻意训练努力将自己打磨成为自己和他人的双重贵人</p>
           </div>
         </div>
       </div>
       <div class="text-center our-services">
         <div class="row">
           <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
             <div class="service-icon">
               <i class="fa fa-check-square-o"></i>
             </div>
             <div class="service-info">
               <h3>选择力</h3>
               <p>添加必要的条件是正确选择的关键。<br/>你的价值观会影响筛选时所添加的必要条件，而所选结果又会反过来影响你的价值观。</p>
             </div>
           </div>
           <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
             <div class="service-icon">
               <i class="fa fa-credit-card"></i>
             </div>
             <div class="service-info">
               <h3>付费力</h3>
               <p>将注意力放到能提升自身能力的事情上。<br/>为其赋予伟大意义逼自己拿出注意力与时间，进而拿钱去换取注意力与时间。</p>
             </div>
           </div>
           <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
             <div class="service-icon">
               <i class="fa fa-trash-o"></i>
             </div>
             <div class="service-info">
               <h3>放弃力</h3>
               <p>百分之百安全带来的是百分之百的束缚。<br/>主动放弃现有的安全感是自身成长突破的关键，作出自己的决定并为其负全责。</p>
             </div>
           </div>
           <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
             <div class="service-icon">
               <i class="fa fa-clone"></i>
             </div>
             <div class="service-info">
               <h3>模仿力</h3>
               <p>从开始就像大牛一样生活。<br/>最好的模仿不是向大牛学习，而是从一开始就按大牛的标准要求自己，绝不拿自己当业余选手。</p>
             </div>
           </div>
           <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
             <div class="service-icon">
               <i class="fa fa-hand-rock-o"></i>
             </div>
             <div class="service-info">
               <h3>耐压力</h3>
               <p>成长过程中所遭遇到的所有的阻力与误会都是必经之路。<br/>默认没人支持你，<br/>把别人的鼓励都当做是额外赠送的。</p>
             </div>
           </div>
           <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
             <div class="service-icon">
               <i class="fa fa-binoculars"></i>
             </div>
             <div class="service-info">
               <h3>预测力</h3>
               <p>尊重事实与相信逻辑是预测未来的两大基石。<br/>笃信自己的预测结果并按那个预测去行动、选择与思考，终将证明预测正确。</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>


   <div class="jumbotron">
         <h1 class="title">三国纷争</h1>
         <p class="slogan">天下纷乱，群雄逐鹿。
         <br>
         下一个英雄是谁？
         <br>
          由你选择！
         </p>
         <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
       </div>
