<!-- <div class="container-fluid"> -->
  <div class="jumbotron">
    <!-- <div class="row"> -->
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1 class="title "><i>一起游戏也是一种学习态度</i></h1>
          <p class="lead">
            <a class="btn btn-lg btn-danger" href="/jobs">我要加入</a>
          </p>
      </div>
    <!-- </div> -->
  </div>
<!-- </div> -->


  <section id="company">
    <div class = "container">
      <p class="slogan-A"><i>丰富多彩的户外体验，培养孩子的独立精神</i></p>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff6n0k8iblj308c08c77f.jpg" alt="search" class = "img-circle">
            <div class="caption">
              <h3>游泳体验</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff6mzlqltjj308c08ctd6.jpg" alt="bid" class = "img-circle">
            <div class="caption">
              <h3>周末野餐</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff6mzrc281j308c08ctcg.jpg" alt="heart" class = "img-circle">
            <div class="caption">
              <h3>欢乐滑雪</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="middle">
    <div class="title-A">怎么玩?</div>
    <br>
   您可以通过这个平台，为您的孩子找到符合自己的共享活动体验，在快乐的游戏中学习成长
   <p>
   如果您是某一领域内的专家，您也可以组织起好玩好学的活动，让别人来参与。
  </p>
    </br>
  </div> -->



  <!-- <div class="container"> -->
    <div class="middle">
       <div class="row">
         <div class="title-A">关于我们</div>
         <h1>一个专门的儿童户外活动学习平台</h1>
         <p>有趣网的理念--在于把有各方面专业技能的牛人和周末缺少集体活动的小朋友连接来，组队进行有意义的活动与学习。</p>
<hr>
            <div class="page-header col-md-5 col-sm-offset-1 text-left">

              <p>案例1：春天，风筝达人申请了一个风筝学习小组，带着自己5岁的小孩一起到森林公园，
                和10个家庭的小朋友一起学习放风筝技能.4个小时的活动中，家长和小朋友都玩得很开心，
                增强了小朋友的互动能力。</p>
                <hr>

              <p>案例2：51劳动节，攀岩达人申请了一个攀岩小组，很多家长带小孩一起体验攀岩的乐趣，很多小朋友爱上的攀岩的乐趣，
                有些家长朋友也也第一次尝试，喜欢上了这个活动</p>
              <hr>
            </div>
            <div class="page-header col-md-5 col-sm-offset-1 text-left">
              <p>案例3：4月份的每周六，有位教师带着自己的小孩，通过有趣网组织了一个足球兴趣小组，
                教孩子们进行足球练习。</p>
              <hr>
               <p>案例4：夏天，2位年轻的游泳教练，通过有趣玩组织了一个夏天游泳兴趣小组，
                 带着20位来自上海不同地区的小朋友，进行游泳培训，教练在教其他小朋友的同时，
                 也让自己的小孩认识了很多新的伙伴。</p>
             <hr>
          </div>
       </div>
    </div>
  <!-- </div> -->
