<div class="header">
    <div class="margin-center">
        <h1 class="text-center text-white">This is index</h1>
    </div>
    <div class="text-center">
        <%= link_to("Get Start", jobs_path, :class => "btn btn-cl text-white" ) %>
    </div>

</div>