
<div class="pageone">
  <div class="container-fluid">

     <div class="phote" id="cute">
       <h1 >Hello World!</h1>
       <hr>
       <h2>Hello World!</h2>
       <h3>Hello World!</h3>
       <hr>
       <p>
         abc
         <br>
         def
         <br>
         hij
         <br>
         opq
       </p>
       <a href="www.baidu.com"><h1>baidu</h1><img class="picture" src="https://ooo.0o0.ooo/2017/01/14/5879fb67247d8.jpg" width="100px;"></a>
       <br>

     </div>
   </div>
</div>


<div class="pagetwo" id="pagetwobackground">

</div>
