<%= simple_form_for @job do |job| %>
  <div class="form-group">
    <%= job.input :title,input_html:{class: "form-control"} %>
    <%= job.input :description,input_html:{class: "form-control"} %>
  </div>

  <%= job.submit "Submit",class: "btn btn-primary",data: {disable_with: "Submiting..."} %>
<% end %>
