<div class="col-md-2 sidebar">
	<ul class="nav nav-pills nav-stacked">
  		  <li role="presentation"><a href="#">Overview</a></li>
		  <li role="presentation"><a href="#">Profile</a></li>
		  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	<form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-sm">Submit</button>
     </form>
</div>