<div class="col-md-12">

  <h2 class="text-center"> Admin Panel </h2>

  <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td> <%= link_to(job.title, job_path(job)) %> </td>
          <td> <%= job.created_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
