<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default") %>
</div>
<br><br>

<table class="table table-boldered">
  <% @jobs.each do |job| %>
<tr>
  <td>
  <%= link_to(job.title, admin_job_path(job)) %>
  </td>
  </tr>
  <% end %>
</table>
