<div class="col-md-12">
  <h2 class="text-center"> Jobs that created by me</h2>

  <table class="table">
    <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Last Update </th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <% if job.is_hidden == true %>
          <td> (Hidden) <%= link_to(job.title, job_path(job))%></td>
          <% else %>
          <td> (Public) <%= link_to(job.title, job_path(job))%></td>
          <% end %>
          <td><%= job.description %></td>
          <td><%= job.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
