<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h3 class="panel-title">
          <%= resume.user.email %>
        </h3>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="trix-content">
      <p><%= simple_format(resume.content)%></p>
    </div>

    <hr>

    <% if resume.attachment.present? %>
      <i class="fa fa-paperclip"></i>
      <!--这里i的作用是让下载链接的logo倾斜-->
      <%= link_to("Download Resume", resume.attachment_url)%>
      <% else %>
      No attachment
      <% end %>
    </div>
  </div>
