<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">创造一个启发人们相互连接的世界</h2>
                <hr class="light">
                <p class="text-faded">没有人能独自引领世界的变革，它需要整个团队的协作。在Airbnb，我们一起努力工作，一起大声欢笑，不断集思广益。我们每个星期使用无数便条，每天都是击掌庆祝的好日子。</p>
                <a href="https://zh.airbnb.com/careers/departments" class="btn btn-default btn-xl">找到适合你的职位</a>
            </div>
        </div>
    </div>
</section>
