<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Airbnb的世界是无止境的。加入我们，看看我们会把你带向何方。</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">今天就申请加入我们</a>
        </div>
    </div>
</aside>
