<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Airbnb 团队</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <!--  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>  -->
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary"></i>
                    <h3>创造</h3>
                    <p class="text-muted">我们的团队为社区打造最棒的体验。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                    <h3>学习</h3>
                    <p class="text-muted">我们里里外外寻找灵感和学习的机会。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-smile-o wow bounceIn text-primary"></i>
                    <h3>玩乐</h3>
                    <p class="text-muted">我们常在忙碌工作中忘记生活的乐趣，在这里我们肯定您能乐在其中。</p>
                </div>
            </div>

        </div>
    </div>
</section>
