<h1> <% @job.title %></h1>
<div class="pull-right">
	<% if current_user && !current_user.admin? %>
        <%= link_to("Edit", edit_job_resume_path(@job), :class => "btn btn-default" ) %>
      <% end %>
</div>

<h2><%= @resume.job.title %></h2>
<h2><%= @resume.content %></h2>
<p><%= image_tag(@resume.attachment.url) if @resume.attachment? %> </p>
