<div class="container" id="about">

    <div class="col-md-6 text-center">
        <%= image_tag("about.jpg", class: "img-circle img-responsive img-center") %>
        <br>
        <h2>网站作者：韵儿爸爸</h2>
        <p>苏超鹏 EmileSu</p>
    </div>

    <div class="col-md-6">
        <div class=" about_msg">
            <address>
                <br>
                <strong>WeChat:</strong>
                bigdasu（微信公众号）
                <br>
                <strong>Blog:</strong>
                <a href="mailto:#">
                    emilesu.logdown.com</a>
            </address>
            <hr>

            <strong>
                <h4>目前职业：</h4>
            </strong>
            <p>
                企业文案策划
                <br>Ruby on Rails 全栈工程师
            </p>

            <hr>

            <strong>
                <h4>关于本站：</h4>
            </strong>
            <p>
                寻找匠师，是一个走心的招聘网站。
                <br><br>在这里，应征者是真正的主角，他们因为自己的故事、经历以及精神追求，而备受尊敬。
                <br><br>在这里，你可以发布项目需求，吸引经验丰富的手工匠人关注，寻找到合适你的专业人员。
            </p>
        </div>
    </div>

</div>
