/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

//jumbotron
.jumbotron{
  background-image: url('/images/headbk.jpg');
  background-repeat: no-repeat;
  margin: 0 -15px 20px;
  background-size: cover;
  padding-bottom: 120px;
}

.title{
background-color: transparent;
max-width: 100%;
margin-top: 200px;
margin-bottom: 80px;
}

.jumbotron h1 , .jumbotron .h1{
  text-align: center;
  color: white;
}

.jumbotron p{
  margin: 0;
  font-size: 26px;
  max-width: 100%;
  padding: 20px;
  text-align: center;
  color: #dcdcdd;
}

.slogan{
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top:12px;
}

.lead{
  height: 200px;
  background-color: transparent;
  border: 0 none;
}

 .jumbotron .lead .btn-apply{
   margin-top: 20px;
   width: 300px;
   letter-spacing: 8px;
   font-size: 30px;
   padding: 30px 0px ;
   line-height: 0.5;
   background-color: #00c6b6;
   border: 0 none;
}

.jumbotron .lead .btn-apply:hover,
.jumbotron .lead .btn-apply:focus
{
  background-color: #00b0a1;
}
//end jumbotron

// Nav bar
.navbar-default{
  background-color: #212121;
  border-color: #212121;
  margin-bottom: 0;
  padding: 10px;
  height: 80px;
  vertical-align: middle;
}

@media (min-width:768px){
  .navbar{
    border-radius: 0;
  }
}

.navbar-default .navbar-brand{
  color: white;
  padding-left: 100px;
  font-size: 1.6em;
}

.navbar-default .navbar-brand:hover{
  color: #DCDCDD;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.6em;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
  color: white;
  background-color: #15AFA1;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
  color: white;
  background-color: #15AFA1;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
  color: white;
  background-color: #15AFA1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  color: #DCDCDD;
  background-color: red;
}

.navbar-brand > img{
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 10px;
}


#btn-search{
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border: 0 none;
  height: 100%;
  width: 100px !important;
  margin: 0;
  padding: 0;
}

#btn-search:hover, #btn-search:focus{
  color: white;
  background-color: #15AFA1;
  border-radius: 0px;
  border: 0px none;
  box-shadow: none;
  width: 100px !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

.input-group{
  background-color: #00c5b6;
  border-radius: 0;
  padding: 1px;
  height: 100%;
  width: 500px;
}

#search-input,#search-input:focus,#search-input:hover,#search-input:active{
  border-radius: 0px;
  border: 0 none;
  height: 40px;
  width: 400px;
}




//end nav bar

.btn-danger {
  color: #fff;
  background-color: #ef6c00;
  border-color: #ef6c00;
}

.btn-danger:hover{
  background-color: #e65100;
  border-color: #e65100;
}

.btn-lg, .btn-group-lg > .btn{
  padding: 8px 16px;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 3px;
  width: 200px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

// content
.caption{
  margin: 30px;
  text-align: center;
  top: 20px;
  color: #161616;
}
.caption p{
  color: #5c5b5c;
  font-size: 25px;
}

.thumbnail{
  border: 0 none;
  box-shadow: none;
  margin-top: 80px;
}


.img-thumbnail{
  border: none;
  width: 140px;
  height: 140px;
}

.goodjob{
  margin: 0  -15px  0;
  background-color: #f1f1f1;
}

.thumbnailicon{
  border: 0 none;
  box-shadow: none;
  margin-top: 80px;
}
.thumbnailicon img{
  background-color: transparent;
  height: 200px;
  width: auto;
}

.thumbnailinfo{
  border: 0 none;
  box-shadow: none;
  margin-top: 80px;
  text-align: left;
  margin-bottom: 80px;
}

.goodjob p{
  color: #5C5B5C;
  font-size: 35px;
}

.goodjob h1{
  color: #161616;
  font-size: 55px;
  margin-bottom: 50px;
}

// section features
.easyuse{
  background-color: white;
  margin: 0  -15px  0;
}

.easyuse .container-fluid{
    margin: 0  -15px 0;
}

.upper{
  margin: 0;
  color: white;
  background-image: url('/images/features_cell_bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}


.upper h1{
  background-color: transparent;
  max-width: 100%;
  margin-top: 0px;
  padding-top: 100px;
  color: white;
  text-align: center;
  font-size: 55px;
}

.shadowthumbnail{
  text-align: center;
  min-width: 300px !important;
  margin: 40px 25% 40px;
  background-color: white;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  height: 400px;
  width: 50%;
}

.features{
  margin: -200px 0 0;
  width: 100%;
}


.shadowthumbnail .img-thumbnail{
  width: 100px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.shadowthumbnail h3{
  margin-top: 20px;
  margin-bottom: 40px;
  color: #161616;
}

.shadowthumbnail p{
  margin-top: 20px;
  margin-bottom: 40px;
  color: #5C5B5C;
  font-size: 20px;
}

//end section features

// colorlife


.colorlife{
  margin: 0 -15px 0;
  background-color: #f1f1f1;
}

.thumbnailinfoleft {
  text-align: right;
  padding-bottom: 100px;
}

.thumbnailinfoleft p{
  color: #5C5B5C;
  font-size: 35px;
}

.thumbnailinfoleft h1 {
  margin-top: 100px;
  color: #161616;
  font-size: 55px;
  margin-bottom: 50px;
}

//end colorlife

// applynow
.applynow{
  margin: 0  -15px 0;
}

.applynow .bottomapply{
  background-image: url('/images/applynow_bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
  color: white;
}

.applynow h3{
  margin: 0;
  font-size: 50px;
  padding-top: 160px;
  margin-bottom: 80px;
}

.applynow .btnApply{
  text-align: center;
  width: 100%;
  padding-bottom: 180px;
}

.applynow .btnApply .btn{
  margin-top: 20px;
  width: 300px;
  letter-spacing: 8px;
  font-size: 30px;
  padding: 30px 0px;
  line-height: 0.5;
  background-color: #00c6b6;
  border: 0 none;
  color: white;
}
//end applynow

//end content

// admin
.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 2px transparent;
  transition: 0.5s;
}
// end admin

//footer
.snsicon{
  margin: 30px 20px 30px;
}
.feedback{
  margin-top: 30px;
  margin-bottom: 30px;
}

.footerinfo{
  margin: 0;
  margin: 0px -15px 0px;
  background-color: black;
}

.goup{
  margin-top: 30px;
  margin-bottom: 30px;
}

.footerinfo .input-group{
  text-align: center;
  margin: 30px 30px;
}

#subscribe-input,
#subscribe-input:focus,
#subscribe-input:hover,
#subscribe-input:active{
  border-radius: 0px;
  border: 0 none;
  height: 40px;
  width: 400px;
}


#subscribe-input{
  margin-left: 1px;
}
// end footer
