/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
@import url(http://fonts.googleapis.com/css?family=Roboto);
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$color_white: #f5f6f5;
$color_prime: #d66c4b;
$color_green: #759b4f;

body {
    background-color: #443d3d;
    // color: #f5f6f5;
}

.logo {
    position: absolute;
    left: 30px;

    a img {
        height: 50px;
    }

}

nav.stroke {
    background-color: transparent;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5px;

    ul {
        list-style: none;
        text-align: center;

        .dropdown-menu {
            background-color: transparent;
            border: 0px solid transparent;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

        li {
            a {
                display: block;
                padding: 15px;
                text-decoration: none;
                font-weight: 800;
                color: $color_white;
                text-transform: uppercase;
                margin: 0 10px;
                position: relative;

                &::after {
                    transition: all .5s;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: rgb(247, 240, 240);
                    height: 1px;
                }

                &:hover {
                    color: $color_green;
                    background-color: transparent;

                    &::after {
                        width: 100%;
                    }
                }

                &:focus {
                    background-color: rgb(71, 71, 71);
                }
            }
        }

        li.active {
            a {
                color: $color_prime;
            }
        }
    }
}

.nav .open {
    a {
        background-color: rgb(71, 71, 71);
        border: 0px solid transparent;

        &:focus {
            background-color: rgb(71, 71, 71);
            border-color: #337ab7;
        }

        &:hover {
            background-color: rgb(71, 71, 71);
        }
    }
}

.navbar-brand {
    color: $color_prime;
}

.footer {
    margin-top: 100px;
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: 100%;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
    user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

@media (min-width: 768px) {}