/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";

 //---------LOGIN MODAL---------

 .loginmodal-container {
   padding: 30px;
   max-width: 350px;
   width: 100% !important;
   background-color: #F7F7F7;
   margin: 0 auto;
   border-radius: 15px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   font-family: roboto;
 }

 .loginmodal-container h1 {
   text-align: center;
   font-size: 1.8em;
   font-family: roboto;
 }

 .loginmodal-container input[type=submit] {
   width: 100%;
   display: block;
   margin-bottom: 10px;
   position: relative;
 }

 .loginmodal-container input[type=text], input[type=password] {
   height: 44px;
   font-size: 16px;
   width: 100%;
   margin-bottom: 10px;
   -webkit-appearance: none;
   background: #fff;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   /* border-radius: 2px; */
   padding: 0 8px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 .loginmodal-container input[type=text]:hover, input[type=password]:hover {
   border: 1px solid #b9b9b9;
   border-top: 1px solid #a0a0a0;
   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
 }

 .loginmodal {
   text-align: center;
   font-size: 14px;
   font-family: 'Arial', sans-serif;
   font-weight: 700;
   height: 36px;
   padding: 0 8px;
 /* border-radius: 3px; */
 /* -webkit-user-select: none;
   user-select: none; */
 }

 .loginmodal-submit {
   /* border: 1px solid #3079ed; */
   border: 0px;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.1);
   background-color: #4d90fe;
   padding: 17px 0px;
   font-family: roboto;
   font-size: 14px;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
 }

 .loginmodal-submit:hover {
   /* border: 1px solid #2f5bb7; */
   border: 0px;
   text-shadow: 0 1px rgba(0,0,0,0.3);
   background-color: #357ae8;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
 }

 .loginmodal-container a {
   text-decoration: none;
   color: #666;
   font-weight: 400;
   text-align: center;
   display: inline-block;
   opacity: 0.6;
   transition: opacity ease 0.5s;
 }

 .login-help{
   font-size: 12px;
 }

 //--Footer always on the bottom--
   html {
      position: relative;
      min-height: 100%;
    }

    body {
      /* Margin bottom by footer height */
      margin-bottom: 100px;
    }

    .content {
      flex: 1;
    }

 //---------Navbar---------


  .navbar-inverse {
      background-color: #212121;
      border-color: #212121;
      border-radius: 0;
  }


  .navbar-inverse .navbar-brand {
      color: #EF6C00;
      padding: 10px 15px;
      line-height: 30px;
  }


  .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-brand:focus {
      color: #FF6F00;
      background-color: transparent;
  }


  .navbar-inverse .navbar-nav > li > a {
      color: #EF6C00;
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
      color: #FF6F00;
      background-color: transparent;
  }


  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
      color: #FF6F00;
      background-color: #FFE0B2;
  }


  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover {
      background-color: #FFE0B2;
      color: #212121;
  }

  .dropdown.toggle {
    margin-top: -100px;
  }

  //---------Testomonial---------
#testimony {
    padding: 5rem 0 5rem 0;
    text-align: center;
    position: relative;

    .title {
      font-size: 2.5rem;
      color: black;
      margin: 0;
      padding-bottom: 2rem;
    }

    .testimony p {
      text-align: justify;
      font-style: italic;
      margin-top: 2em;
      margin-bottom: 1em;
    }

    .testimony {
      width: 22.75%;
      display: inline-block;
      margin: 0 1% 0;
      padding: 2.5rem 1.5%;
      text-align: center;
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      border-radius: .35rem;

      img {
        max-width: 140px;
        border-radius: 80%;
      }
    }

    .button_wrapper {
      text-align: center;
      margin: 4rem 0;
      display: inline-block;
    }
}



   //---------Footer---------

    .footer {
       position: absolute;
       bottom: -5px;
       width: 100%;
       /* Set the fixed height of the footer here */
       height: 100px;
       background-color: #233140;

         p {
           color: white;
           margin-top: 30px;
         }
    }

    //-----Admin's button------

    .custab{
      border: 1px solid #ccc;

      padding: 5px;
      margin: 5% 0;
      box-shadow: 3px 3px 2px #ccc;

      transition: 0.5s;
    }

    .custab:hover{
      box-shadow: 3px 3px 0px transparent;
      transition: 0.5s;
    }

    //------Panel------

    // .panel-default .panel-heading{
    //   background-color: #FFCA28;
    //   border-color: #FFCA28;
    // }

    //-----Common------
    .col-centered{
      float: none;
      margin: 0 auto;
    }

    //-----Job------

    .job-content{
      min-height: 25px;
      margin-top: 100px;

      a{
        text-decoration: none;
      }
    }

    .side-box{


     padding: 10px 10px;
     border-bottom: 1px solid transparent;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;

     background-color: #aaa;
     color: #fff;
     box-shadow: 2px 2px 3px #aaa;
    }

    .job-box{
     border: 1.5px solid #ddd;
     box-shadow: 1px 1px 5px #ccc;
     margin-top: 12.5px;
     padding: 15px 30px 1px 30px;
     background-color: #fff;
     color: #5555;
     font-size: 16px;

     div{
     margin-bottom: 0px;
     }
    }

    .suggest-title{
      padding: 0px;
      text-align: center;
      font-size: 20px;
      letter-spacing: 0.5px;
    }


    .suggest-content{
      background-color: #fff;
      padding: 0px;
      border: 0.5px dashed #eee;

        h3{
          margin-top: 1px;
          font-size: 16px;
        }

        p{
          font-size: 16px;
          color: #212121;
          letter-spacing: -1px;
        }

        span{
          color: #aaa;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
    }
    body {
        background: url("https://ooo.0o0.ooo/2017/05/07/590e0cf90c3bd.png");
        //使用 iPic这个软件即可将图片转换为图片超链接，app store 搜索 iPic 即可

        background-size: cover;
        //这段代码主要实现了图片不会被拉伸变现的效果，具体细则在我发布的另一个教程中有说明

        background-attachment: fixed;
        background-repeat: no-repeat;
        font-family: 'Open Sans', sans-serif;
    }
