// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  // .searchform{
  //   // display: block;
  //   // position: fixed;
  //   // height: 100%;
  //   // width: 540px;
  //   // min-height: 100px;
  //   text-align: left;
  //   margin-left: 80px;
  //   margin-bottom: -80px;
  // }

  .searchbox{
    position: absolute;
    float: left;
    width: 200px;
    height: 28px;
    margin-bottom: -80px;
    margin-top: 10px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-radius: 6px;
  }
  .mike {
    margin-left: 205px;
    margin-top: 10px;
    float: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: #60af00;
    width: 56px;
    height: 28px;
    border: 1px solid #5d9b4d;
    font-size: 14px;
    font-family: simsun;
    border-radius: 5px;
  }
