<%= simple_form_for [@job,@resume] ,html:{multipart: true} do |resume| %>
  <div class="form-group">
    <%= resume.input :content,input_html:{class: "form-control"} %>

    <%= resume.file_field :attachment %>
  </div>

  <%= resume.submit "Submit",class: "btn btn-primary",data: {disable_with: "Submiting..."} %>
<% end %>
