<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [@job, @resume] do |f| %>
    <h3><%= @job.title %></h3>
    <div class="form-inputs">
      <%= f.file_field :attachment %>
    </div>
    <div class="form-actions">
      <%= f.submit "提交简历", data: {disable_with: "正在提交..."}, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
