<% if flash.any? %>
<% user_facing_flashes.each do |key, value| %>
<div class="alert alert-dismissable alert-<%= flash_class(key) %>">
  <botton class="close" data-dismiss="alert">x</botton>
   <%= value %>

</div>
<% end %>
<% end %>
