<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 joblisting
      <br> Design by
      <a href="http://courses.growthschool.com/courses/joblisting/" target=_new>liutao</a>
  </p>
</footer>
