<footer class="text-center">
  <div class="navbar navbar-inner  navbar-fixed-bottom">
      <p class="text-center">Copyright ©2016 Rails101
          <br>Design by mingyue
      </p>
  </div>
</footer>