<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Logo</div>
        <p>有时候远方唤起的渴望并非是引向陌生之地，而是一种使命的召唤。假如有一天，我们过上了一种无忧无虑的生活，我们会怀恋眼下这种飘摇不定的日子。</p>
        <p><i class="fa fa-map-pin"></i> 北京市朝阳区安定门外大街1号11层</p>
        <p><i class="fa fa-phone"></i>  电话(Phone) : 18610477327</p>
        <p><i class="fa fa-envelope"></i> E-mail : d2194499406@gmail.com</p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="http://pleasecallmegeneral-blog.logdown.com"> Career</a></li>
          <li><a href="http://weibo.com/u/1929472077?is_all=1"> Privacy Policy</a></li>
          <li><a href="http://weibo.com/u/1929472077?is_all=1"> Terms & Conditions</a></li>
          <li><a href="http://weibo.com/u/1929472077?is_all=1"> Client Gateway</a></li>
          <li><a href="http://pleasecallmegeneral-blog.logdown.com"> Ranking</a></li>
          <li><a href="http://pleasecallmegeneral-blog.logdown.com"> Case Studies</a></li>
          <li><a href="http://pleasecallmegeneral-blog.logdown.com"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
          </div>
        </div>
      </div>
    </div>
<footer class="container" style="margin-bottom: 30px;">
    <p class="text-center">Copyright ©2016 Job listing
        <br>Design by 将军 微信号：d280775064
        <br>logdown:http://pleasecallmegeneral-blog.logdown.com
    </p>

    <p class="text-center"><a href="http://weibo.com/u/1929472077?is_all=1" target="_blank">联系我们</a></p>
</footer>
