<footer class="container" style="margin-top: 10px;">
  <p class="text-center">Copyright @2016 Rails101
    <br>Design by
    <a href="http://coueses.growthschool.com/courses/rails-101/">Geophy</a>
  </p>
<footer>
