<footer class="container-fluid  footer" style="margin-top: 100px;">
  <div class='row'>
    <div class='col-md-3'>
      <h4>关于我们</h4>
      <p><i>薪手</i>是一家致力于为个体寻找最适合的职业需求的网站</p>
      <p><a href='about.html'>了解更多</a></p>
    </div>

    <div class='col-md-2 col-md-offset-1'>
      <h4>链接</h4>
      <ul class='list-unstyled'>
        <li><a href='/'>首页</a></li>
        <li><a href='tickets.html'>招聘信息</a></li>
        <li><a href='stations.html'>用户入口</a></li>
      </ul>
    </div>

    <div class='col-md-2'>
      <h4>社交平台</h4>
      <ul class='list-unstyled'>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/twitter'>Twitter</a></li>
        <li><a href='/facebook'>Facebook</a></li>
      </ul>
    </div>

    <div class='col-md-3 col-md-offset-1'>
      <h4>联系我们</h4>
      <ul class='list-unstyled'>
        <li>Shanghai, China</li>
        <li>+86-15811111111</li>
        <li><a href='mailto:lily.lixiaolei@gmail.com'>lily.lixiaolei@gmail.com</a></li>
      </ul>

    </div>
  </div>

<br /> <br /> <br />
  <p class="text-center">Copyright ©️2016 Rails101
    <br>Design by liyli
  </p>

</footer>
