<footer class="footer">
    <div class="container">
        <div class="row">
            </hr>
            <div class="col-md-10 col-md-offset-1">

              <div class="row">
                <div class="col-md-2 col-xs-4">
                  <h4>招聘信息</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">管理人员</a></li>
                    <li><a href="#">技术人员</a></li>
                    <li><a href="#">生产人员</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>产品信息</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">刨花板</a></li>
                    <li><a href="#">胶合板</a></li>
                    <li><a href="#">纤维板</a></li>
                  </ul>
                </div>
                <div class="col-md-2 col-xs-4">
                  <h4>关于我们</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">公司介绍</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">联系方式</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-xs-12 ">

                  <div class="footer-content">
                    <i class="fa fa-handshake-o" aria-hidden="true">
                      <a href="http://fullstack.xinshengdaxue.com" target="_blank">
                        http://fullstack.xinshengdaxue.com
                      </a>
                    </i>
                  </div>

                </div>
              </div>


                <hr />
                <p align="center">Copyright ©2017 鼎立木业有限公司
                  <br/>Designed By Feixiguang
                </p>

          </div>
        </div>
    </div>
</footer>
