<footer class="container" style="bottom: 0; width: 100%; position:absolute; font-size: 12px; font-weight: 300; text-align: center; color: #a0a0a0;">
    <p>
      <a href="javascript:" style="text-decoration: underline; color: #a0a0a0; margin-right: 7px;">关于一块视听</a>
      <a href="javascript:" style="text-decoration: underline; color: #a0a0a0; margin-right: 7px;">隐私政策</a>
      <a href="javascript:" style="text-decoration: underline; color: #a0a0a0; margin-right: 7px;">官方博客</a>
      <a href="javascript:" style="text-decoration: underline; color: #a0a0a0; margin-right: 7px;">App下载</a>
      <span>|</span>
      <span>&nbsp;&nbsp;一块视听公司版权所有 © 2016-2017</span>
    </p>
    <p>Design by<a href="http://oj8zlumqh.bkt.clouddn.com/image/whynotwangwei.jpeg" target=_new>&nbsp;&nbsp;喵小哥</a></p>
</footer>
