<footer class="container footer" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2019 NeedJob
        <br>Design by
        <a href="https://github.com/BiFengJiang/job-listing/tree/version-1" target=_new>yin</a>
    </p>
</footer>
