<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 JobListing
        <br>Design by
        <a href="http://www.weibo.com/tiankongkexue" target=_new>TwentyNight</a>
    </p>
</footer>