<!-- <footer class="container" style="margin-top: 500px;"> -->
<br>
<br>
    <p class="text-center">
     Copyright ©2017 Rails101
        <br>

        <!-- <img src="https://fullstack.xinshengdaxue.com/images/xsdx-logo.png"> -->

        Design by huntman
        <br>
        <img class="footer" src="https://ww3.sinaimg.cn/large/006tNbRwjw1fc3ufcioa6j3019019t8h.jpg" >
        <br>
    </p>
</footer>
