<footer id="container-fluid footer " style="margin-top: 100px;">


    <div class="copyright text-center">
      &copy; LIYLI Design: <a href="https://fullstack.xinshengdaxue.com/">RAILS101</a>.
    </div>
</footer>
