<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Fullstack School
        <br>Design by
        <a href="http://luislearning.logdown.com" target=_new>Zoe</a>
    </p>
</footer>
