<footer class="containter" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 Lianxu
    <br>Design by
    <a href="http://lianxu.logdown.com" target=_new>Lianxu</a>
  </p>
</footer>
