<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p class="text-center">Copyright ©2016 rails101
      <br>Design by Exin
  </p>
</footer>
