<footer clas="container" style="margin-top; 100px">
  <p class="text-center">Copyright ©2017 Joblisting VIBA
    <br>Design by
    <a href= "http://courses.growthschool.com/courses/Joblisting" target=_new>Shepherd</a>
  </p>
</footer>
