<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Job Listing
        <br>Design by
        <a href="http://github.com/chris1203" target=_new>chris</a>
    </p>
</footer>
