<footer id="qz-footer">
    <div class="footer-section">
        <div  class="contact-line-block">
            <div class="right-block">
                <div class="introduce">
                    <div class="img-block">
                        <a href="#" target="_blank" class="introduce"><img src = "/images/logo.png"></a>
                    </div>
                    <div class="introduce-block">
                        <p> KK职搜，最不专业的求职网站。 <br>
                            遇见更多的机会，找到更优秀的人才。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="des-block">
            <div class="column-block">
                <div class="column-left">
                    <ul class="list-unstyled">
                        <li class="column-title">关于我们</li>
                        <li><a href="#">公司介绍</a></li>
                        <li><a href="#">产品博客</a></li>
                        <li><a href="#">团队活动</a></li>
                    </ul>
                </div>
                <div class="column-center">
                    <ul class="list-unstyled">
                        <li class="column-title">获取支持</li>
                        <li><a href="/jobs">服务条款</a></li>
                        <li><a target="_blank" href="">帮助文档</a></li>
                        <li><a target="_blank" href="">交流论坛</a></li>
                    </ul>
                </div>
                <div class="column-right">
                    <ul class="list-unstyled">
                        <li class="column-title">联系我们</li>
                        <li><a class="twitter" href="https://twitter.com/RockyJia" target="_blank"><img src = "/images/18-dark-twitter.png">Twitter</a></li>
                        <li><a class="instagram" href="https://www.instagram.com/rockyjia/" target="_blank"><img src = "/images/18-dark-instagram.png">Instagram</a></li>
                        <li><a class="facebook" href="https://www.facebook.com/rockyjia" target="_blank"><img src = "/images/18-dark-facebook.png">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fline"></div>
        <div class="footer-content copyright-block text-center">
            Copyright © 2017  KK职搜 All rights reserved.<br>
        </div>
    </div>
</footer>
