<footer class="container" style="margin-top: 300px;">
    <p class="text-center">Copyright ©2016 Job listing
        <br>Design by 将军
    </p>

    <p class="text-center"><a href="http://weibo.com/u/1929472077?is_all=1" target="_blank">联系我们</a></p>
</footer>
