<footer class="text-center">

  <div class="footer">
    <div class="goodjob">
        <a href="https://fullstack.xinshengdaxue.com/works/480" target="_blank"><img src="/images/shouye2.png" alt="Thumbs up"></a>
    </div>
      <p class="text-center">Copyright ©2017 BuWangPianZan
          <br>Design by <a href="https://fullstack.xinshengdaxue.com/works/480" target="_blank">Zhaoxinxi</a>
      </p>
  </div>
 </footer>
