<footer class="container" style="margin-top: 100px;">
  <p class="text-center">CopyRight ©2016 Rails101
    <br>
    <a class="http://courses.growthschool.com/courses/rails-101/" target=_new>Xdiet</a>
  </p>
</footer>
