<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rjob listing
        <br>Design by
        <a href="http://rails-beijing.com" target=_new>rail-beijing</a>
    </p>
</footer>
