<footer class="container" style="margin-top: 300px;">
  <p class="text-center">work hungting
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>xdite</a>
  </p>

</footer>
