<footer>
   <div class="footer-section">
         <div class="footer-content">
           <br>
           <div class="text-center">
              <a href="/jobs" target="_blank"><img src = "/images/logo.png"></a>
            </div>
           <div class="text-center">
                    © 2017  KK职搜<br>KK职搜:非常不专业的互联网求职网站
           </div>
        </div>
      </div>
</footer>
