<footer class="container", style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 JobListing
    <br>Design by
<a href="http://course.growthschool.com/courses/job-listing/" target=_new>Xdite</a>
</P>
</footer>
