<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Job Listing
        <br>Design by
        <a href="/" target=_new>xdite's student</a>
    </p>
</footer>
