<footer class="contaner-fluid">
  <hr>
  <p class="text-center">Copyright ©2017 Job Listing
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>xdite</a>
  </p>
</footer>
