<footer class="text-center">

  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <br><br>
  <p>Copyright ©2017 <a href="http://courses.growthschool.com/p/rails-101" target="_blank" data-toggle="tooltip" title="Visit Rails101">Rails101</a>
    <br>Design by <a href="http://lichen1984-blog.logdown.com/" target="_blank" data-toggle="tooltip" title="Contact Me">lichen</a>
  </p>
</footer>
