<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 EasyJobs
        <br>Design by
        <a href="https://github.com/SmartJuneThx" target=_new>June YUAN</a>
    </p>
</footer>
