<footer class="container-fluid" style="margin-top: 100px;">
  <div class="index-footer">
    <p class="text-center">Copyright ©2016 Rails101
        Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>lisuji</a>
    </p>
  </div>
</footer>
