<footer class="container" style="magin-top: 100px;">
  <p class="text-center">Copyright @2017 University of Science &amp; Technology of China
    <br>Design by
    <a href="https://github.com/KitaharaKazusa" target=_blank>Kitahara_Kazusa</a>
  </p>
</footer>
