<footer class="container-fluid" style="margin-top: 100px;">

  <div class="index-footer">
    <div class="footer-top">
      <ul>
        <li class="first-li"><a>Job Seekers</a></li>
        <li><a>Help Center</a></li>
        <li><a>Employers</a></li>
        <li><a>CareerBuilder</a></li>
        <li><a>Stay Connected</a></li>
        <li><a>Legal</a></li>
      </ul>
    </div>
    <br>
    <div class="footer-bottom">
    <p class="text-center">Copyright ©2016 Rails101
        Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>lisuji</a>
    </p>
  </div>
  </div>
</footer>
