<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> 大圣安利网</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collpase-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("登陆", '#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
