<nav class=" navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Job Listing 2nd week  </a>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right">
        <li>
          
          <%= link_to("登录",'#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
