<nav class="navbar navbar-default" rote="navigation">
  <div class="container0-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Job Listing3 </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% link_to("登入",'#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
