<nav class="navbar navbar-inverse row" role="navgation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Job-Listing</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to("登录", '#') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
