<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-nabar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to("登入",'#') %>
      </li>
    </ul>
  </div>
</div>
</nav>
