<nav class="navbar navbar-inverse " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- <#ul "nav nav-pills nav-justified">  </ul> -->



    </div>






    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li>

          <ul class="nav nav-pills nav-justified">

          <!-- <a# class="navbar-brand" href="/"> New Journey </a> -->
          <li class="nav-item">
            <a class="nav-link" href="/"> New Journey </a>

          </li>

      <li class="nav-item">
        <a class="nav-link active" href="/jobs">职位</a>
      <!-- <#/li> -->
      <!-- <#li class="nav-item"> -->
        <!-- <#a class="nav-link" href="/">join</a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link " href="https://fullstack.xinshengdaxue.com">合作伙伴</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="/about">关于我们</a>
      </li>



        <% if !current_user %>
        <li><%= link_to("注册", new_user_registration_path) %></li>

        <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="btn btn-info" style="padding:5px 20px;margin-top:-5px;">
                          <i class="fa fa-user-circle" aria-hidden="true">  </i>
                          <b class="caret"></b>
                        </span>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>

            <li>
              <a href="/admin/jobs">
                           <span class="glyphicon glyphicon-ok-sign">Admin Panel</span>
                         </a>
            <% end %>
            <li> <%= link_to("登出", destroy_user_session_path ,method: :delete)%></li>
          </ul>
        </li>
        <% end %>

        </ul>

        </li>
      </ul>
    </div>



  </div>



</nav>
