</div>

<div class="container-fluid juzhong">

  <table class="table table-boldered">
    <thead>
        <tr>
            <td>关注列表</td>
            <td>操作</td>
        </tr>

    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
                <%=link_to(user.display_name,account_job_path(user))%>
            </td>
            <td>

            </td>
        </tr>
        <% end %>
    </tbody>


  </table>

</div>
