      <% flash.each do |msg_type, msg| %>
        <div class="alert alert-dismissable alert-<%= msg_type %>">
          <button class="close" data-dismiss="alert">&times;</button>
          <%= msg %>
        </div>
      <% end %>
